.outer {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 500px;
    height: 700px;
    flex-wrap: wrap;
}
.display {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 400px;
    height: 100px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: lightgray;
    font-size: 30px;
}
.number {
    background-color: #303030;
    color: #FFFFFF;
}
.operation {
    background-color: #f3b33c;
}
button {
    width:95px;
    height:95px;
    border-radius:50px;
    font-size: 45px;
    border: none;
    margin-right:5px;
    opacity: 1;
}
#zero {
    width:195px;
    text-align: left;
    padding-left:33px;
}
.hovered {
    opacity: 0.5;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}